
@{
    ViewData["Title"] = "PopularSpot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Most Popular Spot By Reservations</h2>


<!--The Code itself placed in JS file in the wwwroot folder-->

<meta charset="utf-8">
<style>

    .bar {
        fill: orange;
    }
</style>

    <div id="barChart"></div>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="~/js/popularSpot.js">
      
    </script>
